# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\joelf\OneDrive\Desktop\Joel\Enginyeria Informàtica\3r curs\1r semestre\Sistemes Concurrents i Paral·lels\SCP-P2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
